# Compiled source #
###################
*.exe
*.o
*.so
*.sln
*.sdf
*.suo
*.vcxproj
*.opensdf
*.ipch
/tlp-gp/tlp-gp/Debug
/tlp-gp/Debug
/tlp-gp/tlp-gp/*.vcxproj
*.filters
/tlp-gp/tlp-gp/*.filters
/tlp-gp/ipch
/tlp-gp/tlp-gp/*.rc
/tlp-gp/tlp-gp/*.aps
/parser_2/my.tab.c
/parser_2/my.tab.h
/parser_2/lex.yy.c
/parser_PDDL/lex.yy.c
/tlp-gp/tlp-gp/ClassDiagram.cd
