# Compiled source #
###################
*.exe
*.o
*.so
*.sln
*.sdf
*.suo
*.vcxproj
*.opensdf
*.ipch
/tlp-gp/tlp-gp/Debug
/tlp-gp/Debug
/tlp-gp/tlp-gp/*.vcxproj
*.filters
/tlp-gp/tlp-gp/*.filters
/tlp-gp/ipch
/tlp-gp/tlp-gp/*.rc
/tlp-gp/tlp-gp/*.aps
/parser_2/my.tab.c
/parser_2/my.tab.h
/parser_2/lex.yy.c
/parser_PDDL/lex.yy.c
/tlp-gp/tlp-gp/ClassDiagram.cd
*.*~
*~
.project
prog
/PDDL3.1-TE_Parser/parser/Parserbase.h
/PDDL3.1-TE_Parser/scanner/Scannerbase.h
/parserc++/parser/Parserbase.h
/parserc++/scanner/Scannerbase.h
*.mk
/PDDL3.1-TE_Parser/pddl_3-1-te
/PDDL3.1-TE_Parser/parser/parse.cc
/PDDL3.1-TE_Parser/scanner/lex.cc
/parserc++/parser/parse.cc
/parserc++/scanner/lex.cc
/Debug
